@model IdentityCoreSetup.ViewModel.RentViewModel.RentActionViewModel

@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model._Id != 0)
            {
                <h2 class="card-title">
                    Edit Rent
                </h2>

            }
            else
            {
                <h2 class="card-title">
                    Add Rent
                </h2>

            }

            <form id="actionForm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Customers:</label>
                            <select class="form-control" name="_CustomerName" id="_CustomerName">
                                @foreach (var item in Model.Customer)
                                {
                                    if (item._Name == Model._CustomerName)
                                    {
                                        <option selected value="@item._Name">@item._Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item._Name">@item._Name</option>

                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="hidden" value="@Model._Id" name="ID" />
                            <label for="name">Amount Paid:</label>
                            <input value="@Model._AmountPaid" type="number" class="form-control" name="_AmountPaid" id="_AmountPaid" placeholder="" />
                        </div>
                    </div>
            
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="_Size">Arrears Out Standing:</label>
                            <input value="@Model._Arrears" type="text" class="form-control" name="_Arrears" id="_Arrears" placeholder="" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Month:</label>
                            <select class="form-control" name="_Month" id="_Month">
                                @foreach (var item in Model.Months)
                                {   
                                        <option selected value="@item">@item</option>                                 
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="_Color">Receiver's Name:</label>
                            <input value="@Model._Receiver" type="text" class="form-control" name="_Receiver" id="_Receiver" placeholder="" />
                        </div>
                    </div>
                   


                </div>
            </form>



            <div class="errorDiv">

            </div>
        </div>
        <div style="background-Product:white;" class="card-footer">
            @if (Model._Id != 0)
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Update</button>
            }
            else
            {
                <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
            }
            <a href="@Url.Action("Index","Rent")" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</a>
        </div>
    </div>
}

<script>

	$("#actionButton").click(function () {
		$.ajax({
			url: '@Url.Action("Action", "Rent")',
			type: "post",
			data: $("#actionForm").serialize()
		})
            .done(function (response) {
			if(response.success)
			{
				window.location.href = "@Url.Action("Index", "Rent")";
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
    });

</script>